
ul{
  list-style: none;
  margin: 0 10px 10px 10px;
  padding: 0;
  
}

button{
  font-size: 16px;
  padding: 5px 10px;
  margin-right: 10px;  

  
  border-radius: 3px;
  border: none;
  font-weight: bold;
  color: #fff;
  
}

button:hover{
  cursor: pointer;
}

li{
  color: black;
  font-size: 18px;
  border-bottom: 1px dotted #666;
  display: flex;
  justify-content: space-between;
  align-items: center;

}


h1{
  margin: 0;
  padding: 10px 0;
}

h2{
  padding-top: 10px;
  font-size: 20px;
  color: black;
  border-bottom: 1px solid #1F69FF;
  margin: 10px 10px 0 10px;
}


.App{
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form{
  margin-top: 20px;
}

.container {
  /* margin: 10px; */
  width: 80%;
  /* background-color: #f5f5f5; */
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.inputText{
  /* width: 100px; */
  height: 31px;
/* border: none; */
  margin-bottom: 10px;
  /* border: none; */
}

.inputedText{
  height: 31px;
  border: none;
}

.inputDate{
  height: 31px;
  margin-bottom: 10px;
  margin-left: 10px;
}

/* ================
ボタン */
.submitButton{
  color: #fff;
  background-color:#1F69FF;
  font-weight: bold;
  padding: 6px 15px;
  margin-left: 10px;
  border-radius: 3px;
  border: none;
  font-size: 15px;
}

.inProgress{
  padding: 10px;
}


.inProgressList{
  padding: 10px;
  border: 1px solid #e6e5e5;
  border-radius: 5px;
}

.tobeDone{
  font-size: 13px;
}

.doneList{
  margin-top: 30px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;

}

.done{
padding: 10px;
  text-decoration: line-through;
}

.deleteButton{
  background-color: #fd3b31;
  
}

.completeButton{
  background-color: #4ed963;
}

.backButton{
  border: 1px solid #666;
  color: #666;
  background-color: #fff;
}